headerbar, .titlebar,
.csd:not(.popup):not(tooltip):not(messagedialog) decoration{ border-radius: 0; }

window.messagedialog .response-area > button,
window.dialog.message .dialog-action-area > button,
.background.csd{ border-radius: 0; }

.window-frame {
    box-shadow: 0 0 0 0;
    margin: 0;
}
window decoration {
    margin: 0;
    padding: 0;
    border: none;
}

.background {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 0;
}


@define-color accent_color #89B3B6;
@define-color accent_bg_color mix(#89B3B6, #34302C,0.3);
@define-color accent_fg_color #ECE1D7;
@define-color destructive_color #89B3B6;
@define-color destructive_bg_color mix(#89B3B6, #34302C,0.3);
@define-color destructive_fg_color #ECE1D7;
@define-color success_color #8ff0a4;
@define-color success_bg_color #26a269;
@define-color success_fg_color #ECE1D7;
@define-color warning_color #f8e45c;
@define-color warning_bg_color #cd9309;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color error_color #ff7b63;
@define-color error_bg_color mix(#89B3B6, #34302C,0.3);
@define-color error_fg_color #ECE1D7;
@define-color window_bg_color #34302C;
@define-color window_fg_color #ECE1D7;
@define-color view_bg_color #292522;
@define-color view_fg_color #ECE1D7;
@define-color headerbar_bg_color mix(#34302C,black,0.2);
@define-color headerbar_fg_color #ECE1D7;
@define-color headerbar_border_color #ECE1D7;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);
@define-color card_bg_color rgba(255, 255, 255, 0.08);
@define-color card_fg_color #ECE1D7;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color dialog_bg_color #867462;
@define-color dialog_fg_color #ECE1D7;
@define-color popover_bg_color #867462;
@define-color popover_fg_color #ECE1D7;
@define-color shade_color rgba(0,0,0,0.36);
@define-color scrollbar_outline_color rgba(0,0,0,0.5);
@define-color blue_1 #89B3B6;
@define-color blue_2 #89B3B6;
@define-color blue_3 #89B3B6;
@define-color blue_4 #89B3B6;
@define-color blue_5 #89B3B6;
@define-color green_1 #85B695;
@define-color green_2 #85B695;
@define-color green_3 #85B695;
@define-color green_4 #85B695;
@define-color green_5 #85B695;
@define-color yellow_1 #EBC06D;
@define-color yellow_2 #EBC06D;
@define-color yellow_3 #EBC06D;
@define-color yellow_4 #EBC06D;
@define-color yellow_5 #EBC06D;
@define-color orange_1 #E49B5D;
@define-color orange_2 #E49B5D;
@define-color orange_3 #E49B5D;
@define-color orange_4 #E49B5D;
@define-color orange_5 #E49B5D;
@define-color red_1 #D47766;
@define-color red_2 #D47766;
@define-color red_3 #D47766;
@define-color red_4 #D47766;
@define-color red_5 #D47766;
@define-color purple_1 #CF9BC2;
@define-color purple_2 #CF9BC2;
@define-color purple_3 #CF9BC2;
@define-color purple_4 #CF9BC2;
@define-color purple_5 #CF9BC2;
@define-color brown_1 #C1A78E;
@define-color brown_2 #C1A78E;
@define-color brown_3 #C1A78E;
@define-color brown_4 #C1A78E;
@define-color brown_5 #C1A78E;
@define-color light_1 #ECE1D7;
@define-color light_2 #f6f5f4;
@define-color light_3 #deddda;
@define-color light_4 #c0bfbc;
@define-color light_5 #9a9996;
@define-color dark_1 mix(#34302C,white,0.5);
@define-color dark_2 mix(#34302C,white,0.2);
@define-color dark_3 #34302C;
@define-color dark_4 mix(#34302C,black,0.2);
@define-color dark_5 mix(#34302C,black,0.4);
