/* headerbar, .titlebar, */
/* .csd:not(.popup):not(tooltip):not(messagedialog) decoration{ border-radius: 0; } */
/*  */
/* window.messagedialog .response-area > button, */
/* window.dialog.message .dialog-action-area > button, */
/* .background.csd{ border-radius: 0; } */
/*  */
/* .window-frame { */
/*     box-shadow: 0 0 0 0; */
/*     margin: 0; */
/* } */
/* window decoration { */
/*     margin: 0; */
/*     padding: 0; */
/*     border: none; */
/* } */
/*  */
/* .background { */
/*     margin: 0; */
/*     padding: 0; */
/*     box-shadow: 0 0 0 0; */
/* } */

cell{
	padding-top: 0px;
	padding-bottom: 0px;
	margin: -2px;
	margin-left: -15px;
}

window.csd {
	background-color: rgba(42,42,42,0.6);
	border-radius: 20px;
	border: solid 0.8px rgba(255,255,255,0.3);
	box-shadow: 0px 35px 60px rgba(0,0,0,0.4), 0px 10px 20px rgba(0,0,0,0.5), 0px -14px 25px rgba(255,255,255,0.05);
}

dialog{
	border-radius: 0px 0px 20px 20px;
	border-bottom: solid 0.8px rgba(255,255,255,0.3);
	border-left: solid 0.8px rgba(255,255,255,0.3);
	border-right: solid 0.8px rgba(255,255,255,0.3);
}

window{
	border-radius: 0px 0px 20px 20px;
	border-bottom: solid 0.8px rgba(255,255,255,0.3);
	border-left: solid 0.8px rgba(255,255,255,0.3);
	border-right: solid 0.8px rgba(255,255,255,0.3);
}

decoration{
	border-radius: 20px;
	box-shadow: 0px 35px 60px rgba(0,0,0,0.4), 0px 10px 20px rgba(0,0,0,0.5), 0px -14px 25px rgba(255,255,255,0.05);
}

decoration-overlay{
	border: solid 0.8px rgba(255,255,255,0.3);
	border-radius: 20px;
}

.sidebar-pane{
	background-color: rgba(42,42,42,0);
}
.content-pane{
	background-color: rgba(30,30,30,0.9);
}

windowhandle{
	margin-bottom: -2px;
	margin-top: -2px;
}

columnview * row:nth-child(odd){
	background-color: rgba(255,255,255,0.025);
}

columnview * row:hover{
	background-color: rgba(255,255,255,0.05);
}

columnview * row:active{
	background-color: alpha(@accent_color,0.2);
	transition: all 0.2s;
	transform: translateX(-1px) scale(0.98);
}

columnview * row:selected{
	background-color: alpha(@accent_color,0.2);
	transition: all 0.2s;
	transform: translateX(0px);
}

columnview * row:selected:hover{
	background-color: alpha(@accent_color,0.35);
	transition: all 0s;
}

windowcontrols >*{
	transition: all 0s;
}

windowcontrols > * > image{
	opacity: 0;
}

windowcontrols > .close{
	padding: 0px;
	transform: scale(0.45);
	margin-left: -6px;
	background-color: rgb(220,120,120);
	border: solid 2px rgb(170,80,80);
	border-radius: 100%;
}

windowcontrols > .close:Hover{
	background-color: rgb(255,180,180);
}

windowcontrols > .minimize:Hover{
	background-color: rgb(130,255,130);
}

windowcontrols > .minimize{
	padding: 0px;
	transform: scale(0.45);
	
	background-color: rgb(120,150,120);
	border: solid 2px rgb(80,150,80);
	border-radius: 100%;
}


windowcontrols > .maximize:Hover{
	background-color: rgb(255,255,170);
}

windowcontrols > .maximize{
	padding: 0px;
	margin-left: -6px;	
	transform: scale(0.45);
	background-color: rgb(220,170,120);
	border: solid 2px rgb(170,120,120);
	border-radius: 100%;
}

windowhandle{
	margin-top: -4px;
	margin-bottom: -4px;
}

#blackbox-main-window >* headerbar{
	margin-bottom: -5px;
	margin-top: -5px;
}

#blackbox-main-window > widget > overlay > box > tabview * {
	background-color: transparent;
	background: transparent;
}

popover >* {
	background-color: rgba(42,42,42,1);
}"

