headerbar, .titlebar,
.csd:not(.popup):not(tooltip):not(messagedialog) decoration{ border-radius: 0; }

window.messagedialog .response-area > button,
window.dialog.message .dialog-action-area > button,
.background.csd{ border-radius: 0; }

.window-frame {
    box-shadow: 0 0 0 0;
    margin: 0;
}
window decoration {
    margin: 0;
    padding: 0;
    border: none;
}

.background {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 0;
}
